@theme inline {
  --font-inter: 'Inter', 'sans-serif';
  --font-manrope: 'Manrope', 'sans-serif';
  --font-google-sans: 'Google Sans', 'sans-serif';
  --font-plus-jakarta-sans: 'Plus Jakarta Sans', 'sans-serif';
  --font-jetbrains-mono: 'JetBrains Mono', 'monospace';
}
